{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class= "container">
    <p class="text-center mt-5"><strong>Ticket List of {{pro_bus.bus_name}} ({{pro_bus.route}})</strong></p>

    <table class="table" id="printTable">
    <thead>
        <tr>
        {% comment %} <th scope="col">#</th> {% endcomment %}
        <th scope="col">Seat Number</th>
        <th scope="col">Occupant Name</th>
        <th scope="col">Pickup Area</th>
        <th scope="col">Deop area</th>
        <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
    {% for seat in seats %}
        <tr>
            {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
            <td>{{seat.bookedseat_no}}</td>
            <td>{{seat.occupant_firstname}} {{seat.occupant_lastname}}</td>
            <td>{{seat.pickup_area}}</td>
            <td>{{seat.drop_area}}</td>
            {% if seat.is_paid is True %}
                <td>paid</td>
            {% else %}
            <td>not paid</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table> 
    <button class="text-dark px-3 py-1 rounded" onclick="window.print()"><h6>Print</h6></button>
</div>   
{% comment %} hi welcome to{{ pro_bus.bus_name }} profile {% endcomment %}

{% comment %} {% for bus in pro_bus %}
    <p>{{bus.bus_name}}</p>
{% endfor %} {% endcomment %}

{% endblock content %}
