{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include 'includes/alerts.html' %}
	<div class="container">
		<div class="row mt-5">
            {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">Login as:</strong>
                    <span>{{user.username}}</span>
                </header>
                <div class="card-body">
                    <div class="row">
                        {% comment %} <div class="col-md-6">
                            <div class="card text-center">
                                <div class="card-body">
                                <h4>total booked</h4>
                                    <h4>100</h4>
                                    <a href="#">view orders</a>
                                </div>
                            </div>
                        </div> {% endcomment %}

                        <div class="col-md-12">
                            <div class="card text-center">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Booked By</th>
                                        <th scope="col">Bus name</th>
                                        <th scope="col">Seat No.</th>
                                        <th scope="col">Route</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% for data in booked  %}
                                        <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                            <td>{{data.user.first_name}}</td>
                                            <td>{{data.bus.bus_name}}</td>
                                            <td>{{data.bookedseat_no}}</td>
                                            <td>{{data.bus.route}}</td>
                                            <td>{{data.bus.price}}</td>
                                            <td><a class="btn btn-sm btn-danger text-white" href="{% url 'delete_ticket' data.pk %}">Cancel Ticket</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>  
        </main>
	    </div> 
	</div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}

