{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static 'cucss/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cucss/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'cucss/style.css' %}">
    <script src="https://www.paypal.com/sdk/js?client-id=AWN-DcrK_hAgb3iFmXjdZpGWFBJ44IiPIxRS4yf3TYb--L88xDrBq1FwwHwy6LCuGm8I0fRcVmRpMYxT&currency=USD"></script>

</head>
<body>
{% include 'includes/navbar.html' %}
{% block content %}

{% endblock content %}
{% comment %} bootstrao bundle {% endcomment %}
{% comment %} {% include 'includes/footer.html' %} {% endcomment %}
<script src="{% static 'cujs/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'cujs/jquery-ui.min.js' %}"></script>
<script src="{% static 'cujs/bootstrap.bundle.min.js' %}"></script>
{% comment %} paypal scrit {% endcomment %}
{% comment %} <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script> {% endcomment %}
<script src="{% static 'cujs/script.js' %}"></script>
{% comment %} <script src="{% static 'js/test.js' %}"></script> {% endcomment %}
{% comment %} {% include 'includes/ajax.html' %} {% endcomment %}
<script src="{% static 'cujs/backend.js' %}"></script>
</body>
</html>