{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="inlineform">
    <div class="container">
        <form action="{% url 'bus' %}" method="GET">
            <div class='form-row searchbar'>
                <div class="col-md-3">
                    <input list="startpoint" class="form-control" placeholder="StartPoint" name="startpoint" required>
                    <datalist id="startpoint">
                        <option>Pokhara</option>
                        <option>Kathmandu</option>
                        <option>Syangja</option>
                        <option>Dang</option>
                        <option>Nepaljung</option>
                    </datalist>  
                </div>
                <div class="col-md-3">
                    <input list="endpoint" size="3" class="form-control" placeholder="Endpoint" name="endpoint" required>
                    <datalist id="endpoint">
                        <option >Pokhara</option>
                        <option>Kathmandu</option>
                        <option>Syangja</option>
                        <option>Dang</option>
                        <option>Nepaljung</option>
                        <option>Nuwakot</option>
                    </datalist>  
                </div>

                <div class="col-md-3">
                    <!-- <label>Departure Time:</label> -->
                    <div class="input-group">
                        <input type="text" class="form-control" id="sld" placeholder="Select Date" name="departure" required>
                        <span class="input-group-append">
                            <div class="input-group-text bg-transparent border-0">
                                <i class="fas fa-calendar-alt"></i>                                        
                            </div>
                        </span>
                    </div>
                </div>
                <div class="md-4">
                    <button type="submit" class="btn btn-primary btn-md btn-block">Search</button>  
                </div>                      
        </form>            
    </div>
</section>
<!-- Modal -->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-booking">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p class="text-center" id="heading"></p>
                    {% if user.id is None %}
                        <P class=" text-center"><strong>login to proceed</strong></P>
                    {% endif %}
                    {% comment %} <form action="/payment/" method="POST">   {% endcomment %}
                        {% comment %} {% csrf_token %} {% endcomment %}
                        <div class="seat-container">                                
                            <div class="select-container">
                                <div class="screen"></div>
                                <div class="seat-row">
                                    <div class="seat-none"></div>
                                    <div class="seat-none"></div>
                                    <div class="seat-none"></div>
                                    <div class="driver text-center">D</div>
                                </div>
                                <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <!-- <div class="seat"></div>
                                            <div class="seat"></div> -->
                                        </div>
                                {% comment %} <div class="busesSeat">
                                
                                </div> {% endcomment %}
                                {% comment %} "x"| {% endcomment %}
                                     {% comment %} {% for i in "i"|ljust:"10"  %}
                                        <div class="seat-row">
                                        {% for j in "j"|ljust:"4"  %}
                                        <div class="seat-row">
                                            {% if forloop.counter == 2 %}
                                                <div class="seat occupied text-center" id="{{forloop.counter}} {{bus.id}}">o</div>
                                            {% else %}
                                                <div class="seat text-center" id="{{forloop.counter}} {{bus.id}}">{{forloop.counter}}</div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        </div> 
                                    {% endfor %}
                                </div> {% endcomment %}
                                <ul class="showcase mt-3">
                                    <li>
                                        <div class="demo-seat">
                                        </div>
                                        <small>N/A</small>                                                        
                                    </li>
                        
                                    <li>
                                        <div class="demo-seat selected">
                                        </div>
                                        <small>Selected</small>
                                    </li>
                        
                                    <li>
                                        <div class="demo-seat occupied">                                                          
                                        </div>
                                        <small>Occupied</small>
                                    </li>
                                </ul>

                                <p class="text">
                                    you have selected <span id="count">0</span> seats for a price of  Rs. <span id="total">0</span>
                                </p>

                            </div>
                        </div>
                            {% comment %} </form> {% endcomment %}
                            
                                {% comment %} <div  class="col-sm-6 col-xs-12 mx-auto"> {% endcomment %}
                                    {% comment %} <form id="p-form" action="" type=""> {% endcomment %}
                                    {% comment %} {% csrf_token %} {% endcomment %}
                                    {{form}}
                            
                                    {% comment %} <div id="paypal-button-container" class="mt-5">
                                        pay pal button will load here
                                </div>
                                <a href=" {% url 'home' %} ">lol</a> {% endcomment %}
                            {% if user.id is None %}
                            <div>
                                <a href"{% url 'login' %}" class="btn btn-primary text-white"> login first<a>
                            </div>
                            {% else %}
                            <div class='cta my-3'>
                                <button type="submit" class='purchase-btn btn btn-primary' > Pay Esewa</button>
                            </div>
                            {% endif %}
                        </div>
                    {% comment %} </form> {% endcomment %}
                </div>
            </div>
            </div>
            <div class="modal-footer">
            {% comment %} <input type="button" value="" class="btn btn-sm bt-primary" placeholder="Keep On Going"> {% endcomment %}
            {% comment %} <button type="button" class="btn btn-primary">Keep on going</button> {% endcomment %}
            </div>
            </div>
        </div>
    </div>
<section class="results">
    <div class="container">
        <div class="row mt-5">
            {% comment %} <div class="col-md-2 col-xs-12"> {% endcomment %}
                {% comment %} <h5><b>FILTERS</b></h5><hr>
                <div class="filters-section">
                    <a href="">Reshudable</a><hr>
                    <p><b>Amneties</b></p><hr> 
                </div> {% endcomment %}
            {% comment %} </div> {% endcomment %}
            <div class="col-md-12 col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Operator ID</th>
                        <th scope="col">Route</th>
                        <th scope="col">Bus Name</th>
                        <th scope="col">Bus Type</th>
                        <th scope="col">Fare</th>
                        {% comment %} <th scope="col">Seat Type</th> {% endcomment %}
                        <th scope="col">Operator</th>
                        </tr>
                    </thead>
                {% for bus in bus %}
                    <tbody>
                        <tr>
                            <td id="bus{{bus.operator.id}}">{{forloop.counter}}</td>
                            <td>{{bus.route}}</td>
                            <td>{{bus.bus_name}}</td>
                            <td>{{bus.bustype}}</td>
                            <td id="fare" value="{{bus.price}}">{{bus.price}}</td>
                            {% comment %} <td>{{bus.seat_type}}</td> {% endcomment %}
                            <td>
                                <button type="submit" id="book-btn" for="{{bus.price}}#{{bus.id}}" class="btn btn-sm btn-primary modal-button" onclick= "myfunc(this)" data-toggle="modal" data-target="#mymodal"
                                data-busId="{{bus.id}}"
                                data-busName="{{bus.bus_name}}"
                                data-routeId="{{bus.route.id}}"
                                data-busSeat="{{bus.no_seats}}"
                                data-busNo="{{bus.bus_number}}"
                                data-seatType="{{bus.seat_type}}"
                                data-busPrice="{{bus.price}}"
                                data-busuniqueid="{{bus.bus_id}}">
                                    book
                                </button>
                            </td>
                        </tr>
                    </tbody>

                {% endfor %}
                </table>
                {% comment %} {% for bus in bus %}
                    <div class="accordionItem">
                        <div class="row accordionTitle">
                            <div class="col-sm-3">
                                <p><b>Operator Name</b></p>
                                {{bus.operator}}
                            </div>
                            <div class="col-sm-2">
                                <p>Bus Type</p>
                                {{bus.bustype}}
                            </div>
                            <div class="col-sm-2">
                                <p><b>Departure-shift</b></p>
                                {{bus.boarding_time}}
                            </div>
                            <div class="col-sm-3">
                                <p>Route</p>
                                {{bus.route_name}}
                            </div>
                            <div class="col-sm-2">
                                <p><b>Fare</b></p>
                                Rs.<span id="spare">{{bus.price}}</span>
                            </div>
                        </div>
                        <div class="accordionContent">
                                <div class="seat-container">                                
                                    <ul class="showcase">
                                        <li>
                                            <div class="seat">
                                                <small>N/A</small>
                                            </div>
                                        </li>
                            
                                        <li>
                                            <div class="seat selected">
                                                <small>Selected</small>
                                            </div>
                                        </li>
                            
                                        <li>
                                            <div class="seat occupied">
                                                <small>Occupied</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="select-container">
                                        <div class="screen"></div>
                                        <div class="seat-row">
                                            <div class="seat-none"></div>
                                            <div class="seat-none"></div>
                                            <div class="seat-none"></div>
                                            <div class="driver"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat occupied"></div>
                                            <div class="seat occupied"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat occupied"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat occupied"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                        </div>
                                        <div class="seat-row">
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <div class="seat"></div>
                                            <!-- <div class="seat"></div>
                                            <div class="seat"></div> -->
                                        </div>
                                        <p class="text">
                                            you have selected <span id="count">0</span> seats for a price of  Rs. <span id="total">0</span>
                                        </p>
                                    </div>
                                </div>
                        </div>
                    </div>
                {% endfor %} {% endcomment %}
            </div>
        </div>
    </div>
</section>
<script>
    // Render the PayPal button into #paypal-button-container

{% comment %} var amount = document.getElementById('total').textContent
console.log(amount)
paypal.Buttons({
    style: {
        color:  'blue',
        shape:  'pill',
        label:  'pay',
        height: 40
    },

    // Set up the transaction
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: '88.44'
                }
            }]
        });
    },

    // Finalize the transaction
    onApprove: function(data, actions) {
        return actions.order.capture().then(function(orderData) {
            // Successful capture! For demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            var transaction = orderData.purchase_units[0].payments.captures[0];
            alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

            // Replace the above to show a success message within this page, e.g.
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '';
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
        });
    }


}).render('#paypal-button-container'); {% endcomment %}
</script>
{% endblock content %}