{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{total_price}}</h1>
    <h1>Esewa payment</h1>
    <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value="{{total_price}}" name="tAmt" type="hidden">
        <input value="{{total_price}}" name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="{{token}}" name="pid" type="hidden">
        <input value="http://127.0.0.1:8000/esewa_payment_success/?q=su" type="hidden" name="su">
        <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
        <input value="Submit" type="submit">
    </form>

{% endblock content %}