{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">
            <div class="row">
                <aside class="col-lg-8">
                <div class="card my-2">
                    <div class="card-body">
                        <h5 class="card-text mb-0">Review Your Order & Make Payment</h5>
                    </div>
                </div>
                </aside
                <aside class="col-lg-8"></aside
            </div>            
        </div>
    </section>
{% endblock content %}


